

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    background-color: aliceblue;
    border-style:solid;
    border-width: .1rem;
    border-color: #ded6d6;

  }

  
  
  .sidebar a, .accordion-btn {
    /*padding: 8px 8px 8px 32px;*/
    text-align: left;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-size: 100%;
    border-color: #111;
  }
  
  .sidebar a:hover, .menu-list button:hover, .accordion-btn:hover{
    color: #f1f1f1;
    background-color:#ccc
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .3s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

.accordion-btn {
    cursor: pointer;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.rotate-90 {
  transform: rotate(90deg);
}

.accordion-panel {
  display: none;
  overflow: hidden;
}

.accordion-icon {
  display: flex;
  justify-content: flex-end;
  height: 18px;
  align-self: center;
}

.active {
  background-color: #485FC7;
  color: white;
}